<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true">
  <display-name>MoveF</display-name>
  <welcome-file-list>   
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
  	<servlet-name>FileUpload</servlet-name>
  	<servlet-class>com.vignesh.MoveFiles.FileUpload</servlet-class>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>FileUpload</servlet-name>
  	<url-pattern>/fileUpload</url-pattern>
  </servlet-mapping> 
</web-app>